*{box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding:0;
}
body{  
  width:100%;
  height: 100%;
  background-image: linear-gradient(to top, #14281f,  #1f4034);
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.head-nav {
  text-decoration: none;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
}
header{
  display: flex;
  align-items: center;
  
}
#title{
  display: inline-block; 
  font-size: 2.5em;
  color: #74c08a;  
  text-shadow: -2px -2px 0 #fca26e; 
  }

#logo {
  margin-right: 10px;;
}
#logo img{
  width: 100px;
  height: auto;

}

nav {
  display: inline-block;
  text-align:center;
  margin-right: 30%;
}


nav a {
    text-decoration: none;
    font-size: 1.5em;
  }
  
nav a:link {
    color: #8cb19f;
  }
nav a:visited {
    color: #64817d; 
}
nav a:hover{
  transform: translateY(2px); 
  text-shadow: 0 0 10px #fca26e; 
}


nav ul {
    padding-right: 0;
    white-space: nowrap;
    margin: 5px;
    display: inline-flex;
    text-align: center;
    justify-content: space-between; 
    
  }
  
nav li {
    list-style: none;
    margin: 0 20px;
    padding: 1em;
    width: 100%;
    color: #64817d;
    cursor: pointer;
  }

.banner{
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.logout-button {
  background-color: #ccdcdd; 
  padding: 5px 10px; 
  border-color: #f5751d;
  border-width: 4px;
  border-radius: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}
.logout-button a {
  color: #fca26e; 
  text-decoration: none; 
  font-size: 16px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000000; 
}

.logout-button:hover {
  background-color: #5992b8; 
}
h1{
  color: #64817d;
}

.main {
  margin: 0 auto;
  padding: 20px;
  background-color: #8cb19f;
}

.box-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px #fca26e;
  margin: 5px;
}