{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../static/homepage.css" />
        <title>Homepage</title>
    </head>


    <body>
        <div class="container">
            <div class="head-nav">
                <header>
                    <div id="logo">
                        <img src="{% static 'Logo_Transparent.png' %}">
                    </div>
                    <a href="homepage.html" class="homepage-button">
                        <div id="title">
                        Home</div>
                    </a>
                </header>
                <nav class="menu"> 

                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="user_dashboard.html">User Dashboard </a></li>
                        <li><a href="login.html">Returning User </a></li>
                        <li><a href="registration.html">New User </a></li>
                    </ul>
                </nav>
            </div>
            <div class="banner"> 
                <a href="login.html" class="returning-user-button">
                    <div class="returning">
                        <h1> RETURNING USER</h1>
                        <p> Login HERE </p>
                    </div>
                </a>
                <a href="registration.html" class="new-user-button">
                    <div class="new">
                        <h1> NEW USER</h1>
                        <p> Register HERE </p>
                    </div>
                </a>
            </div>
        </div>
    </body>

</html>
