<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Log</title>
</head>
<body>
    <h1>Product Log</h1>
    <p>Product Name: {{ product.product_name }}</p>
    <p>Brand: {{ product.brand_name }}</p>
    <p>Material Type: {{ product.material_type }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Status:</p>
    {% if product.userproduct_set.exists %}
        <p>Associated with User</p>
    {% endif %}
    {% if product.is_available %}
        <p>Available on Products Page</p>
    {% endif %}
    {% if product.collector %}
        <p>With Collector: {{ product.collector.username }}</p>
    {% endif %}
</body>
</html>
