<!-- user_dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../static/user_dashboard.css" />
    <script src="{% static 'script.js' %}"></script>
    <title>User Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="head-nav">
            <header>
                <div id="logo">
                    <a href="homepage.html" class="homepage-button">
                        <img src="{% static 'Logo_Transparent.png' %}">
                    </a>
                </div>
                <div id="title">
                    User Dashboard
                </div>
            </header>
            <nav class="menu">
                <ul>
                    <li><a href="homepage.html">Home </a></li>
                    <li><a href="login.html">Returning User </a></li>
                    <li><a href="track_products.html">Track Products </a></li>
                    <li><a href="view_products.html">Browse Products </a></li>
                </ul>
            </nav>
        </div>
        <div class="banner">
            <div class="welcome">
                <h1>Welcome, {{ user.username }}!</h1>
                <p>This is your user dashboard. You can add content and functionality here.</p>
                <ul>
               
                </ul>
            </div>
            <div class="dash">
                <div class="test">
                    <div class="prog">
                        <h1>Container Repurposing Status</h1><br>
                        <div class="progress-bar">
                        <div class="step active">Container Purchased</div>
                        <div class="step">Container Returned for Recycling</div>
                        <div class="step">Cleaning/Repurposing Underway</div>
                        <div class="step">Container Back on Shelves</div>
                    </div>
                    <br><form method="post" action="">
                        <button class="submit" type="submit">Update Progress</button>
                    </form>
                    </div>
                    </div>
                    <div class="products-container">
                        <div class="product">
                            <h2>Product Name: Product 1</h2>
                            <p>Status: <span class="status available">Available</span></p>
                            <button class="move-button">Move to Collector</button>
                        </div>
                    
                        <div class="product">
                            <h2>Product Name: Product 2</h2>
                            <p>Status: <span class="status collector">With Collector</span></p>
                            <button class="move-button">Move to Available</button>
                        </div>
                        <script src="script.js"></script>
                    </div>
                    <div class="row">
                        <div class="box small-box">
                            <h2>Points Counter</h2>
                        </div>
                        <div class="box small-box">
                            <h2>Number of Containers Recycled</h2>
                        </div>
                        <div class="box large-box">
                            <h2>iframe for "view_products" page. mini scrollable list</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box small-box">
                            <h2>Etc</h2>
                        </div>
                        <div class="box large-box">
                            <h2>Etc</h2>
                        </div>
                        <div class="box small-box">
                            <h2>Etc</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <button class="logout-button"><a href="{% url 'user_logout' %}">Logout</a></button>
    </div>  
</body>
</html>
