<!-- app/view_products.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Products</title>
</head>
<body>
    <h1>Available Products</h1>
    <button><a href="{% url 'user_dashboard' %}" class="user-dashboard-button">User Dashboard</a></button>
    <button><a href="{% url 'homepage' %}" class="homepage-button">Homepage</a></button>
    <ul>
        {% for product in products %}
            <li>
                Brand: {{ product.brand_name }}<br>
                Product Name: {{ product.product_name }}<br>
                Material Type: {{ product.material_type }}<br>
                Price: ${{ product.price }}<br>
                <a href="{% url 'buy_product' product.id %}">Buy</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
